---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import blog from "../image/AA86EF7A-612F-4C17-9203-F608B548352E_1_201_a.jpeg";
import astro from "../image/EE950524-C684-494F-B03B-E8EC875535CE.png";
import com from "../image/8A86F84E-2A16-4953-8BEF-A46DF34F0B82.png";
import rank from "../image/664600CE-327D-4624-AAD0-96AC34D51FD2.png";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>about</title>
    </head>
    <body>
      <header>
        <h2>制作物</h2>
      </header>

      <main>
        <section class="astro">
          <h3>当サイト</h3>
          <a
            href="https://github.com/yukiyuki925/astro-practice"
            target="_blank">ソースコード</a
          >
          <Image src={astro} alt="astrosite" class="astro-img" />
          <p>
            使用技術 <br />
            HTML / CSS / Astro
          </p>
          <p>Astroを使用し、高速な動作を目指したサイト</p>
        </section>

        <hr />

        <section class="node">
          <h3>スクレイピングツール</h3>
          <a href="https://github.com/yukiyuki925/node-scroll" target="_blank"
            >ソースコード</a
          >
          <Image src={blog} alt="blog" />
          <p>
            使用技術 <br />
            node.js / playwright
          </p>
          <p>
            アイドルのブログから投稿日時、タイトルを自動で収集し、csvファイルに書き込むツール。<br
            />
            ブログの更新頻度を効率的に把握する手段として制作。
          </p>
        </section>

        <hr />

        <section class="combot">
          <h3>自動コメントツール</h3>
          <a href="https://github.com/yukiyuki925/combot" target="_blank"
            >ソースコード</a
          >
          <Image src={com} alt="combot" class="combot_img" />
          <p>
            使用技術 <br />
            Python / selenium / PyAutoGUI
          </p>
          <p>
            Youtubeの動画投稿を検知し、最新の動画に対しコメントを書き込むツール。<br
            />
            PyAutoGUIを使用し、マウスやキーボード操作を再現することでBotとして検知されるリスクを回避。
          </p>
        </section>

        <hr />

        <section class="rank">
          <h3>ディズニーアトラクションランキングサイト</h3>
          <a href="https://rank-app.vercel.app/" target="_blank"
            >サイトはこちら</a
          ><br />
          <Image src={rank} alt="rank" class="rank_img" />
          <a href="https://github.com/yukiyuki925/rankApp" target="_blank"
            >ソースコード</a
          >
          <p>
            使用技術 <br />
            HTML / CSS / Javascript
          </p>
          <p>
            ディズニーのアトラクションのランキングを表示する簡素なサイト。<br />
            リストの中身を変更することで様々なランキングをクイズ形式で出題可能。（一人帰れま10等）
          </p>
        </section>
      </main>
    </body>
  </html>
</Layout>

<style>
  section {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    max-height: 400px;
    height: auto;
  }

  a {
    font-size: 20px;
  }

  .node {
    margin-bottom: 40px;
  }

  .astro-img {
    border: 1px solid #111;
  }

  .combot_img {
    border: 1px solid black;
  }

  .rank_img {
    border: 1px solid black;
  }
</style>
