---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import cafesite from "../image/887E5343-ECC0-4DEC-B83E-5A1C75776175_1_201_a.png";
import gymsite from "../image/362638C7-2D90-49DF-8501-CB284732B449_1_201_a.jpeg";
import blog from "../image/AA86EF7A-612F-4C17-9203-F608B548352E_1_201_a.jpeg";
import astro from "../image/10B3B8C1-6421-4795-B9A9-A31647E9DCFC_1_201_a.jpeg";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>about</title>
    </head>
    <body>
      <header>
        <h2>制作物</h2>
      </header>

      <main>
        <section class="cafe">
          <h3>カフェサイト</h3>
          <a href="https://km-cafesite.netlify.app" target="_blank">URL</a>
          <Image src={cafesite} alt="cafesite" />
          <p>
            使用技術 <br />
            HTML / CSS
          </p>
          <p>HTML / CSSを使用したシンプルなサイト</p>
        </section>

        <hr />

        <section class="gym">
          <h3>ジムサイト</h3>
          <a href="https://gym-jquery.netlify.app" target="_blank">URL</a>
          <Image src={gymsite} alt="gymsite" />
          <p>
            使用技術 <br />
            HTML / CSS / jquery
          </p>
          <p>jqueryを使用し、より複雑な動きを取り入れたサイト</p>
        </section>

        <hr />

        <section class="astro">
          <h3>当サイト</h3>

          <Image src={astro} alt="astrosite" class="astro-img" />
          <p>
            使用技術 <br />
            HTML / CSS / Astro
          </p>
          <p>Astroを使用し、高速な動作を目指したサイト</p>
        </section>

        <hr />

        <section class="node">
          <h3>スクレイピングツール</h3>
          <a
            href="https://github.com/yukiyuki925/javascript/tree/main/scroll"
            target="_blank">ソースコード</a
          >
          <Image src={blog} alt="blog" />
          <p>
            使用技術 <br />
            node.js / playwright
          </p>
          <p>
            アイドルのブログから投稿日時、タイトルを自動で収集し、csvファイルに書き込むツール。<br
            />
            ブログの更新頻度を効率的に把握する手段として制作。
          </p>
        </section>
      </main>
    </body>
  </html>
</Layout>

<style>
  section {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    max-height: 400px;
    height: auto;
  }

  a {
    font-size: 20px;
  }

  .node {
    margin-bottom: 40px;
  }

  .astro-img {
    border: 1px solid #111;
  }
</style>
